.main {
  button {
    background-color: transparent;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
    }
  }
  input {
    display: none;
  }
}
